version: '3.6'

services:
  # Reverse Proxy (Traefik)
  proxy:
    restart: always
    image: traefik:2.1.8
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/acme.json:/acme.json
    command:
      - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"
      - "--entryPoints.web.forwardedHeaders.insecure"
      - "--entryPoints.websecure.address=:443"
      - "--entryPoints.websecure.forwardedHeaders.insecure"
      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.myresolver.acme.email=${SSL_EMAIL:-support@example.com}"
      - "--certificatesresolvers.myresolver.acme.storage=/acme.json"
    labels:
      - "traefik.enable=true"

  # Database and Infrastructure Services
  db:
    restart: always
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
      - ./config/mysql:/etc/mysql/conf.d
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-changeme}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-peatio_production}
    labels:
      - "traefik.enable=false"

  redis:
    image: redis:4.0.10
    restart: always
    volumes:
      - redis_data:/data
    labels:
      - "traefik.enable=false"

  rabbitmq:
    image: rabbitmq:3.7.6-management
    restart: always
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    labels:
      - "traefik.enable=false"

  vault:
    image: vault:1.3.0
    restart: always
    volumes:
      - vault_data:/vault
      - ./config/vault:/tmp/policies
    command: server
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_LOCAL_CONFIG: '{"storage": {"file": { "path": "/vault/data" }}, "listener": {"tcp":{"address": "0.0.0.0:8200","tls_disable":"1"}}}'
      VAULT_ADDR: http://vault:8200
    labels:
      - "traefik.enable=false"

  influxdb:
    image: influxdb:1.7.10
    restart: always
    volumes:
      - influx_data:/var/lib/influxdb
      - ./config/influxdb/build_candles.sql:/build_candles.sql
      - ./config/influxdb/arke.sql:/arke.sql
      - ./config/influxdb/peatio.sql:/peatio.sql
    environment:
      INFLUXDB_ADMIN_ENABLED: "true"
    labels:
      - "traefik.enable=false"

  # Application Services
  peatio:
    restart: always
    image: "quay.io/openware/peatio:2.6.48"
    environment:
      - VAULT_TOKEN=${PEATIO_RAILS_VAULT_TOKEN}
    env_file:
      - ./config/peatio.env
    volumes:
      - ./config/peatio/seed:/opt/peatio/config/seed
      - ./config/peatio/management_api_v1.yml:/opt/peatio/config/management_api_v1.yml
      - ./config/peatio/plugins.yml:/opt/peatio/config/plugins.yml
      - ./config/peatio/abilities.yml:/opt/peatio/config/abilities.yml
    command: bash -c "bin/link_config && bundle exec puma --config config/puma.rb --port 8002"
    depends_on:
      - db
      - redis
      - rabbitmq
      - vault
    expose:
      - "8002"
    labels:
      - "traefik.enable=false"

  barong:
    restart: always
    image: "quay.io/openware/barong:2.6.48"
    env_file:
      - ./config/barong.env
    volumes:
      - ./config/secrets:/secrets:ro
      - ./config/barong/seeds.yml:/home/app/config/seeds.yml
      - ./config/barong/barong.yml:/home/app/config/barong.yml
      - ./config/barong/authz_rules.yml:/home/app/config/authz_rules.yml
      - ./config/barong/management_api.yml:/home/app/config/management_api.yml
      - ./config/barong/abilities.yml:/home/app/config/abilities.yml
    depends_on:
      - db
      - redis
      - vault
    expose:
      - "8001"
    labels:
      - "traefik.enable=false"

  applogic:
    restart: always
    image: "rubykube/applogic:latest"
    env_file:
      - ./config/applogic.env
    volumes:
      - ./config/applogic/management_api_v2.yml:/home/app/config/management_api_v2.yml
    depends_on:
      - peatio
      - barong
    expose:
      - "8081"
    labels:
      - "traefik.enable=false"

  gateway:
    restart: always
    image: envoyproxy/envoy:v1.10.0
    volumes:
      - ./config/gateway:/etc/envoy/
    command: /usr/local/bin/envoy -l info -c /etc/envoy/envoy.yaml
    depends_on:
      - barong
      - peatio
      - applogic
    expose:
      - "8099"
    labels:
      - "traefik.http.routers.gateway-${APP_NAME:-civicforge}.rule=Host(`${SUBDOMAIN:-www}.${DOMAIN:-app.local}`) && PathPrefix(`/api`,`/admin`,`/assets/`)"
      - "traefik.enable=true"
      - "traefik.http.services.gateway-${APP_NAME:-civicforge}.loadbalancer.server.port=8099"
      - "traefik.http.routers.gateway-${APP_NAME:-civicforge}.entrypoints=web"

  frontend:
    restart: always
    image: "quay.io/openware/baseapp:2.6.24"
    volumes:
      - ./config/frontend/env.js:/usr/share/nginx/html/config/env.js
    depends_on:
      - gateway
    expose:
      - "3000"
    labels:
      - "traefik.http.routers.frontend-${APP_NAME:-civicforge}.rule=Host(`${SUBDOMAIN:-www}.${DOMAIN:-app.local}`) && PathPrefix(`/`)"
      - "traefik.enable=true"
      - "traefik.http.services.frontend-${APP_NAME:-civicforge}.loadbalancer.server.port=3000"
      - "traefik.http.routers.frontend-${APP_NAME:-civicforge}.entrypoints=web"

  tower:
    restart: always
    image: "quay.io/openware/tower:2.6.66"
    volumes:
      - ./config/frontend/tower.js:/home/app/env.js
    depends_on:
      - gateway
    expose:
      - "8080"
    labels:
      - "traefik.http.routers.tower-${APP_NAME:-civicforge}.rule=Host(`${SUBDOMAIN:-www}.${DOMAIN:-app.local}`) && PathPrefix(`/tower`)"
      - "traefik.enable=true"
      - "traefik.http.services.tower-${APP_NAME:-civicforge}.loadbalancer.server.port=8080"
      - "traefik.http.routers.tower-${APP_NAME:-civicforge}.entrypoints=web"

  # Essential Daemons and Workers
  rango:
    restart: always
    image: "quay.io/openware/rango:2.6.1"
    env_file:
      - ./config/rango.env
    depends_on:
      - redis
      - rabbitmq
    expose:
      - "8080"
    labels:
      - "traefik.enable=false"

  # Peatio Daemons
  peatio-blockchain:
    restart: always
    image: "quay.io/openware/peatio:2.6.48"
    env_file:
      - ./config/peatio.env
    volumes:
      - ./config/peatio:/opt/peatio/config:ro
    command: bash -c "bin/link_config && bundle exec ruby lib/daemons/daemons.rb blockchain"
    depends_on:
      - peatio
      - db
      - redis
    labels:
      - "traefik.enable=false"

  peatio-cron:
    restart: always
    image: "quay.io/openware/peatio:2.6.48"
    environment:
      - VAULT_TOKEN=${PEATIO_CRYPTO_VAULT_TOKEN}
    env_file:
      - ./config/peatio.env
    volumes:
      - ./config/peatio:/opt/peatio/config:ro
    command: bash -c "bin/link_config && bundle exec ruby lib/daemons/daemons.rb cron_job"
    depends_on:
      - peatio
      - vault
    labels:
      - "traefik.enable=false"

  peatio-deposit:
    restart: always
    image: "quay.io/openware/peatio:2.6.48"
    environment:
      - VAULT_TOKEN=${PEATIO_CRYPTO_VAULT_TOKEN}
    env_file:
      - ./config/peatio.env
    volumes:
      - ./config/peatio:/opt/peatio/config:ro
    command: bash -c "bin/link_config && bundle exec ruby lib/daemons/daemons.rb deposit"
    depends_on:
      - peatio
      - vault
    labels:
      - "traefik.enable=false"

  peatio-matching:
    restart: always
    image: "quay.io/openware/peatio:2.6.48"
    environment:
      - VAULT_TOKEN=${PEATIO_MATCHING_VAULT_TOKEN}
    env_file:
      - ./config/peatio.env
    volumes:
      - ./config/peatio:/opt/peatio/config:ro
    command: bash -c "bin/link_config && bundle exec ruby lib/daemons/amqp_daemon.rb matching"
    depends_on:
      - peatio
      - rabbitmq
      - vault
    labels:
      - "traefik.enable=false"

  peatio-order-processor:
    restart: always
    image: "quay.io/openware/peatio:2.6.48"
    environment:
      - VAULT_TOKEN=${PEATIO_MATCHING_VAULT_TOKEN}
    env_file:
      - ./config/peatio.env
    volumes:
      - ./config/peatio:/opt/peatio/config:ro
    command: bash -c "bin/link_config && bundle exec ruby lib/daemons/amqp_daemon.rb order_processor"
    depends_on:
      - peatio
      - rabbitmq
      - vault
    labels:
      - "traefik.enable=false"

  peatio-trade-executor:
    restart: always
    image: "quay.io/openware/peatio:2.6.48"
    environment:
      - VAULT_TOKEN=${PEATIO_MATCHING_VAULT_TOKEN}
    env_file:
      - ./config/peatio.env
    volumes:
      - ./config/peatio:/opt/peatio/config:ro
    command: bash -c "bin/link_config && bundle exec ruby lib/daemons/amqp_daemon.rb trade_executor"
    depends_on:
      - peatio
      - rabbitmq
      - vault
    labels:
      - "traefik.enable=false"

  peatio-upstream:
    restart: always
    image: "quay.io/openware/peatio:2.6.48"
    environment:
      - VAULT_TOKEN=${PEATIO_UPSTREAM_VAULT_TOKEN}
    env_file:
      - ./config/peatio.env
    volumes:
      - ./config/peatio:/opt/peatio/config:ro
    command: bash -c "bin/link_config && bundle exec ruby lib/daemons/daemons.rb upstream"
    depends_on:
      - peatio
      - vault
    labels:
      - "traefik.enable=false"

  peatio-deposit-coin-address:
    restart: always
    image: "quay.io/openware/peatio:2.6.48"
    environment:
      - VAULT_TOKEN=${PEATIO_CRYPTO_VAULT_TOKEN}
    env_file:
      - ./config/peatio.env
    volumes:
      - ./config/peatio:/opt/peatio/config:ro
    command: bash -c "bin/link_config && bundle exec ruby lib/daemons/amqp_daemon.rb deposit_coin_address"
    depends_on:
      - peatio
      - rabbitmq
      - vault
    labels:
      - "traefik.enable=false"

  peatio-withdraw-coin:
    restart: always
    image: "quay.io/openware/peatio:2.6.48"
    environment:
      - VAULT_TOKEN=${PEATIO_CRYPTO_VAULT_TOKEN}
    env_file:
      - ./config/peatio.env
    volumes:
      - ./config/peatio:/opt/peatio/config:ro
    command: bash -c "bin/link_config && bundle exec ruby lib/daemons/amqp_daemon.rb withdraw_coin"
    depends_on:
      - peatio
      - rabbitmq
      - vault
    labels:
      - "traefik.enable=false"

  peatio-influx-writer:
    restart: always
    image: "quay.io/openware/peatio:2.6.48"
    env_file:
      - ./config/peatio.env
    volumes:
      - ./config/peatio:/opt/peatio/config:ro
    command: bash -c "bin/link_config && bundle exec ruby lib/daemons/amqp_daemon.rb influx_writer"
    depends_on:
      - peatio
      - rabbitmq
      - influxdb
    labels:
      - "traefik.enable=false"

  # Sidekiq Workers
  barong-sidekiq:
    restart: always
    image: "quay.io/openware/barong:2.6.48"
    env_file:
      - ./config/barong.env
    volumes:
      - ./config/secrets:/secrets:ro
      - ./config/barong/seeds.yml:/home/app/config/seeds.yml
      - ./config/barong/barong.yml:/home/app/config/barong.yml
      - ./config/barong/authz_rules.yml:/home/app/config/authz_rules.yml
      - ./config/barong/management_api.yml:/home/app/config/management_api.yml
    command: bash -c "bundle exec sidekiq"
    depends_on:
      - barong
      - redis
    labels:
      - "traefik.enable=false"

  applogic-sidekiq:
    restart: always
    image: "rubykube/applogic:latest"
    env_file:
      - ./config/barong.env
    volumes:
      - ./config/applogic/management_api_v2.yml:/home/app/config/management_api_v2.yml
    command: bash -c "bundle exec sidekiq"
    depends_on:
      - applogic
      - redis
    labels:
      - "traefik.enable=false"

volumes:
  db_data:
  rabbitmq_data:
  redis_data:
  vault_data:
  influx_data:
